@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #CDBE78;
}

#calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bdbcbc;
  width: 320px;
}

#board{
  height: 75px;
  width: 320px;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
}

#middleButtons{
  display: flex;
  flex-direction: row;
}

button {
  background-color: #b5a143;
  width: 80px;
  height: 65px;
  border: 0.15px solid #bdbcbc;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}

#clear{
  background-color: #cd9478;
  width: 160px;
}

#zero{
  width: 160px;
}

#equals{
  background-color: #9ddbd0;
  height: 130px;
}